body{
    color:#40514E;
    margin:0px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1{
    font-size: 5.625rem;
    margin:50px auto 0px auto;
    font-family:'Sacramento',cursive;
    color:#66BFBF
}

h2{
    font-family: 'Montserrat',sans-serif;
    font-size:1.875rem;
    color: #66BFBF;
    font-weight:normal;
}

.top-cloud{
    position:absolute;
    right:300px;
    top:50px
}

.bottom-cloud{
    position:absolute;
    left:300px;
    bottom:250px
}

h3{
    font-family: 'Montserrat',sans-serif;
    color:#11999E
}

.bs{
    width:25%;
    float:left;
    margin-right: 30px;
}


.commerce{
    width:25%;
    float: right;
    margin-left: 30px;
}

.subject-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

p{
    line-height: 2;
}

.top-container{
    background-color: #E4F9F5;
    position:relative;
    padding-top:100px;
}

.bottom-container{
    background-color:#66BFBF;
    padding:50px 0 20px;
}

a{
    color:#11999E;
    font-family: 'Montserrat',sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.btn {
	box-shadow: 0px 10px 22px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 0px 5px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    color:#EAF6F6;
    font:0.75rem;
    padding:20px 0;
}

